.header-wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 55px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 75px;
  margin: 0 auto 155px auto;
  /* width: 1200px; */
  border-bottom: 3px solid black;
}

.phones {
  margin-bottom: 35px;
}

a {
  margin-right: 15px;
  text-decoration: none;
  color: #000;
  font-family: Open Sans;
  font-size: 16px;
}

.search-input {
  width: 650px;
  height: 30px;
  background: #f5f3f5;
  border: none;
  padding: 0 45px 0 15px;
  outline: none;
}

.search {
  position: relative;
}

.searchParam {
  position: absolute;
  right: 140px;
  top: 35px
}

.search-img {
  position: absolute;
  right: 25px;
  top: 50%;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.cart-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.cart-underline {
  border-bottom: 1px solid black;
  font-size: 16px;
  font-family: Open Sans;
}

.item-count {
  color: #9054b2;
}

.product-cart {
  display: flex;
  position: relative;
  cursor: pointer;
  box-shadow: 6 7 5 #e0e0e0;
  z-index: 1;
  border: 1 px solid #e0e0e0;
}

input::-webkit-input-placeholder {
  color: #adadad;
  font-size: 16px;
  font-family: Open Sans;
}

input:-moz-placeholder {
  color: #adadad;
  font-size: 16px;
  font-family: Open Sans;
}

.buy-list {
  position: absolute;
  right: 0;
  top: 55px;
  max-width: 300px;
  padding: 25px 25px 35px 35px;
}

.searchParam {
  position: absolute;
  right: 140px;
}

.category {
  position: absolute;
  background: transparent;
  outline: none;
  cursor: pointer;
  border: none;
  transform: translate(-50%, -50%);
  right: 50px;
  top: 50%;
}

li {
  text-decoration: none;
  list-style: none;
}

.searchValue {
  position: absolute;
  left: 14px;

}