<header>
  <div class="header-wrapper">
    <div class='phones'>
      <a href="tel:+74957732310">+7 (495) 773 23 10;</a>
      <a href="tel:+74951716202">+7 (495) 171 62 02;</a>
    </div>
    <div class="nav-wrapper">
      <div class='logo-img'>
        <img src="../../assets/images/logo.png" alt="logo">
      </div>
      <div class='search'>
        <input class='search-input' type='text' #search (keyup.enter)="onEnter(search.value)" placeholder='Более 1000 товаров' />
        <button class="category">Выберите категорию</button>
        <ul *ngIf='true'>Искать по:
          <li *ngFor='let p of searchParam'>
            {{p}}
          </li>
        </ul>
        <button class="search-img" (click)="onEnter(search.value)"><img src="../../assets/images/search.png"></button>
        <ul *ngIf='true'>
          <li *ngFor='let i of products | input: searchValue'>
            {{i.name}}
          </li>
        </ul>
      </div>
      <div class='product-cart'>
        <a (click)="toggle()"><img src="../../assets/images/font-icon.png"></a>
        <button (click)="toggle()" class="cart-btn"><span class="cart-underline">КОРЗИНА<span class="item-count">(0)</span></span></button>
        <div *ngIf="!condition" class="buy-list">
          <app-cart *ngFor='let item of productCart' [item]='item' (poductDelete)='productDelete($event)'></app-cart>
        </div>
      </div>
    </div>
  </div>
</header>