  <div class='phones'>
    <span>+38012343221</span>
    <span>+38021234324</span>
  </div>
  <div class='logo-img'>
    <img src="../../assets/images/logo.png" alt="logo">
  </div>
  <div class='search'>
    <input class='search-input' type='text' placeholder='Введите' />
  </div>
  <div class='product-cart'>
    <button (click)="toggle()">Корзина</button>
  </div>
<p *ngIf="!condition">
  <app-cart *ngFor='let item of productCart' [item]='item' (poductDelete)='productDelete($event)'></app-cart>
</p>
