/* .content-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-card {
  width: 200px;
  height: 300px;
  margin-top: 300px;
}

.wallpaper-photo {
  width: 30px;
  height: 30px;
} */
