.content-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.product-card {
  margin-right: 70px;
  margin-bottom: 55px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.order-btn {
  width: 140px;
  height: 35px;
  border: none;
  background: #9054b2;
  color: #f8f4fa;
  outline: none;
  cursor: pointer;
}

.item-name {
  font-size: 20px;
}

p {
  margin: 15px 0;
}

.description-wrapper {
  background: #f5f3f5;
}

.h1-gluts {
  color: #7f7f80;
}

h1 {
  color: #9054b2;
  text-align: center;
  padding: 45px 0;
}

.description {
  padding: 0 190px 45px 100px;
  font-size: 16px;
  font-family: Open Sans Light;
}

.description:last-child {
  margin-bottom: 0;
}