.content-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.product-card {
  margin-right: 70px;
  margin-bottom: 55px;
  font-size: 16px;
}

.order-btn {
  width: 140px;
  height: 35px;
  border: none;
  background: #9054b2;
  color: #f8f4fa;
  outline: none;
  cursor: pointer;
}

.item-name {
  font-size: 20px;
}



